[mysqld]
ndbcluster=1
port=5000
socket=/tmp/mysql.sock
ndb-connectstring=rnd-nosql-node-master
# Creates a number of ndb cluster connections to the data nodes from this MySQL server
# Requires the same number of free [mysqld] slots in the config.ini
ndb-cluster-connection-pool=2
ndb-force-send=1
ndb-use-exact-count=0
ndb-extra-logging=1
ndb-batch-size=32M
ndb-autoincrement-prefetch-sz=1024
engine-condition-pushdown=1

default-storage-engine=ndbcluster

datadir=/var/lib/mysql-cluster/mysqld
basedir=/usr/lib/mysql-cluster-7.2.5

# Logs
log-error=error.log
#log
#log-slow-queries

key_buffer_size=256M
max_allowed_packet=16M
sort_buffer_size=512K
read_buffer_size=256K
read_rnd_buffer_size=512K

myisam_sort_buffer_size=8M
memlock=0
sysdate_is_now=1
max-connections=200
thread-cache-size=128

# Table and database names are stored on disk using the letter case specified in the CREATE TABLE or CREATE DATABASE statement
lower-case-table-names=0

[client]
socket=/tmp/mysql.sock

[mysql_cluster]
ndb-connectstring=rnd-nosql-node-master